/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_packaged
 *= require_tree .
*/


#tasks .input {
    margin-left: 10px;
}

#tasks div.nested-fields table {
    margin-left: 150px;
    width: 80%;
}

#tasks label.boolean.optional {
    width: 50px;
}

#tasks input[type="checkbox"] { margin:  8px; }

td.done_column { width: 80px; }


//.add_fields, .remove_fields { margin-left: 150px; }

#tasks > .nested-fields > table .remove_fields { margin-left: 0px; line-height: 30px; }

#tasks .clearfix { margin-bottom: 2px; }

#tasks > .nested-fields > .links > a.add_fields { margin-top: 2px; width:100%; display:block; margin-bottom: 20px; }
#tasks > .links > a.add_fields { margin-top: 20px; width: 100%; display:block; border-top: 1px dashed silver; }

.project-tag-fields { padding: 2px; border: 1px dashed #ddd; }

.sub_tasks { margin-left: 100px; }

td .btn {
    margin-left: 3px;
}

.well.well-compact {
    margin: 5px;
}
